// Fonts
$pageFont: sans-serif;

$normalFont: .75rem;
$bigFont: .875rem;
$veryBigFont: 1rem;

$lightWeight: 300;
$normalWeight: 400;
$heavyWeight: 600;
$veryHeavyWeight: 700;

// Colors
$darkBlue: #282653;
$purple: #7f56c5;
$lightBlue: #1dafe9;
$lightBlueGray: #95a2aa;
$lightGray: #cacbce;
$gray: #808285;
$white: #fff;
$black: #000;

$listRowEven: #f0f0f0;
$listRowOdd: #f7f7f7;

// Spacing
$verySmallSpace: .25rem;
$smallSpace: .5rem;
$mediumSpace: 1rem;

$navHeight: 50px;
$rowHeight: 32px;